<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HomeControllers</servlet-name>
        <servlet-class>Controllers.HomeControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutControllers</servlet-name>
        <servlet-class>Controllers.AboutControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopControllers</servlet-name>
        <servlet-class>Controllers.ShopControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogControllers</servlet-name>
        <servlet-class>Controllers.BlogControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleProdcutControllers</servlet-name>
        <servlet-class>Controllers.SingleProdcutControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartControllers</servlet-name>
        <servlet-class>Controllers.CartControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutControllers</servlet-name>
        <servlet-class>Controllers.CheckoutControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SinglePostControllers</servlet-name>
        <servlet-class>Controllers.SinglePostControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactControllers</servlet-name>
        <servlet-class>Controllers.Contact</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeControllers</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutControllers</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopControllers</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogControllers</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleProdcutControllers</servlet-name>
        <url-pattern>/single</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartControllers</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutControllers</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SinglePostControllers</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactControllers</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
