<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>StaffAuthorizationFilter</filter-name>
        <filter-class>AuthorizationFilter.StaffAuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>StaffAuthorizationFilter</filter-name>
        <servlet-name>FeedbackListController</servlet-name>
        <url-pattern>/Views/Staff/*</url-pattern>
        <servlet-name>ListProductController</servlet-name>
        <servlet-name>MakeOrderController</servlet-name>
        <servlet-name>NewOrderController</servlet-name>
        <servlet-name>RemoveProductCart</servlet-name>
        <servlet-name>StaffDashboardController</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeControllers</servlet-name>
        <servlet-class>Controllers.HomeControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutControllers</servlet-name>
        <servlet-class>Controllers.AboutControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopControllers</servlet-name>
        <servlet-class>Controllers.ShopControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveControllers</servlet-name>
        <servlet-class>AdminControllers.ActiveControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogControllers</servlet-name>
        <servlet-class>Controllers.BlogControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleProdcutControllers</servlet-name>
        <servlet-class>Controllers.SingleProductControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartControllers</servlet-name>
        <servlet-class>Controllers.CartControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutControllers</servlet-name>
        <servlet-class>Controllers.CheckoutControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SinglePostControllers</servlet-name>
        <servlet-class>Controllers.SinglePostControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactControllers</servlet-name>
        <servlet-class>Controllers.ContactControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logoutservlet</servlet-name>
        <servlet-class>Controllers.Logoutservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controllers.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>Controllers.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataProductControllers</servlet-name>
        <servlet-class>AdminControllers.DataProductControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddControllers</servlet-name>
        <servlet-class>AdminControllers.AddControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteControllers</servlet-name>
        <servlet-class>AdminControllers.DeleteControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountController</servlet-name>
        <servlet-class>AdminControllers.DiscountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCodeController</servlet-name>
        <servlet-class>AdminControllers.DeleteCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddcodeController</servlet-name>
        <servlet-class>AdminControllers.AddcodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>Controllers.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcDetailControllers</servlet-name>
        <servlet-class>AdminControllers.AcDetailControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>Controllers.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOtp</servlet-name>
        <servlet-class>Controllers.ValidateOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPasswordControlles</servlet-name>
        <servlet-class>Controllers.NewPasswordControlles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImaBGController</servlet-name>
        <servlet-class>AdminControllers.ImaBGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddImage</servlet-name>
        <servlet-class>AdminControllers.AddImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCodeController</servlet-name>
        <servlet-class>AdminControllers.UpdateCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddressServlet</servlet-name>
        <servlet-class>Controllers.AddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>AdminControllers.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>AdminControllers.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategory</servlet-name>
        <servlet-class>AdminControllers.UpdateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorControllers</servlet-name>
        <servlet-class>AdminControllers.AuthorControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAuthorControllers</servlet-name>
        <servlet-class>AdminControllers.AddAuthorControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAuthorControllers</servlet-name>
        <servlet-class>AdminControllers.UpdateAuthorControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HideAuthorControllers</servlet-name>
        <servlet-class>AdminControllers.HideAuthorControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountAdminControllers</servlet-name>
        <servlet-class>AdminControllers.AccountAdminControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailBoxController</servlet-name>
        <servlet-class>AdminControllers.MailBoxController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatController</servlet-name>
        <servlet-class>AdminControllers.ChatController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartControllers</servlet-name>
        <servlet-class>Controllers.DeleteCartControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAcountControllers</servlet-name>
        <servlet-class>AdminControllers.AddAcountControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackListController</servlet-name>
        <servlet-class>Controllers.StaffController.FeedbackListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDashboardController</servlet-name>
        <servlet-class>Controllers.StaffController.StaffDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageStaffControllers</servlet-name>
        <servlet-class>AdminControllers.ManageStaffControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeRoleControllers</servlet-name>
        <servlet-class>AdminControllers.ChangeRoleControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewsController</servlet-name>
        <servlet-class>AdminControllers.AddNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactByAdminControllers</servlet-name>
        <servlet-class>AdminControllers.ContactByAdminControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyContact</servlet-name>
        <servlet-class>AdminControllers.ReplyContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>AdminControllers.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderStatusControllers</servlet-name>
        <servlet-class>AdminControllers.OrderStatusControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticsControllers</servlet-name>
        <servlet-class>AdminControllers.StatisticsControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticsOrderControllers</servlet-name>
        <servlet-class>AdminControllers.StatisticsOrderControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessCheckoutController</servlet-name>
        <servlet-class>Controllers.ProcessCheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>VNPay.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatetimeDiscount</servlet-name>
        <servlet-class>AdminControllers.DatetimeDiscount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderCustomer</servlet-name>
        <servlet-class>Controllers.OrderCustomerControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OderCustomerDetailControllers</servlet-name>
        <servlet-class>Controllers.OderCustomerDetailControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShippingAddressController</servlet-name>
        <servlet-class>Controllers.ShippingAddressController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyDiscountController</servlet-name>
        <servlet-class>Controllers.ApplyDiscountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewOrderController</servlet-name>
        <servlet-class>Controllers.StaffController.NewOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductController</servlet-name>
        <servlet-class>Controllers.StaffController.ListProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeOrderController</servlet-name>
        <servlet-class>Controllers.StaffController.MakeOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProductCart</servlet-name>
        <servlet-class>Controllers.StaffController.RemoveProductCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmVNPayController</servlet-name>
        <servlet-class>Controllers.ConfirmVNPayController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeControllers</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutControllers</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopControllers</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogControllers</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleProdcutControllers</servlet-name>
        <url-pattern>/single</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartControllers</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutControllers</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SinglePostControllers</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactControllers</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logoutservlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataProductControllers</servlet-name>
        <url-pattern>/data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcDetailControllers</servlet-name>
        <url-pattern>/accdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveControllers</servlet-name>
        <url-pattern>/active</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddControllers</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteControllers</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountController</servlet-name>
        <url-pattern>/discount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCodeController</servlet-name>
        <url-pattern>/deletecode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddcodeController</servlet-name>
        <url-pattern>/addcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOtp</servlet-name>
        <url-pattern>/ValidateOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPasswordControlles</servlet-name>
        <url-pattern>/newPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImaBGController</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAcountControllers</servlet-name>
        <url-pattern>/addac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddImage</servlet-name>
        <url-pattern>/addimage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCodeController</servlet-name>
        <url-pattern>/updatecode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddressServlet</servlet-name>
        <url-pattern>/address</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategory</servlet-name>
        <url-pattern>/updatecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorControllers</servlet-name>
        <url-pattern>/author</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAuthorControllers</servlet-name>
        <url-pattern>/adda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAuthorControllers</servlet-name>
        <url-pattern>/updatea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HideAuthorControllers</servlet-name>
        <url-pattern>/hidea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountAdminControllers</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailBoxController</servlet-name>
        <url-pattern>/mail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatController</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartControllers</servlet-name>
        <url-pattern>/deletecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackListController</servlet-name>
        <url-pattern>/feedbacklist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDashboardController</servlet-name>
        <url-pattern>/staffdashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageStaffControllers</servlet-name>
        <url-pattern>/manages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeRoleControllers</servlet-name>
        <url-pattern>/change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewsController</servlet-name>
        <url-pattern>/addnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactByAdminControllers</servlet-name>
        <url-pattern>/contactAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyContact</servlet-name>
        <url-pattern>/reply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderStatusControllers</servlet-name>
        <url-pattern>/orderstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticsControllers</servlet-name>
        <url-pattern>/statistics/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticsOrderControllers</servlet-name>
        <url-pattern>/statisticsorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessCheckoutController</servlet-name>
        <url-pattern>/processCheckout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/ajaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatetimeDiscount</servlet-name>
        <url-pattern>/datetime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderCustomer</servlet-name>
        <url-pattern>/ordercustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OderCustomerDetailControllers</servlet-name>
        <url-pattern>/ordercustomerdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShippingAddressController</servlet-name>
        <url-pattern>/shippingAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyDiscountController</servlet-name>
        <url-pattern>/applyDiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewOrderController</servlet-name>
        <url-pattern>/neworder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductController</servlet-name>
        <url-pattern>/listsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeOrderController</servlet-name>
        <url-pattern>/makeOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProductCart</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmVNPayController</servlet-name>
        <url-pattern>/confirmVnpay</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>UpdateNewsControllers</servlet-name>
        <servlet-class>AdminControllers.UpdateNewsControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FixNewsControllers</servlet-name>
        <servlet-class>Controllers.FixNewsControllers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateNewsControllers</servlet-name>
        <url-pattern>/upnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FixNewsControllers</servlet-name>
        <url-pattern>/fixnews</url-pattern>
    </servlet-mapping>
</web-app>
